.booking-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.page-header {
  text-align: center;
  margin-bottom: 20px;
}

.page-header h2 {
  font-size: 24px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  /* Align buttons to the right */
  gap: 10px;
  /* Space between the buttons */
  position: fixed;
  /* Position the buttons fixed */
  bottom: 10px;
  /* Adjust the bottom distance */
  right: 10px;
  /* Adjust the right distance */
}

.page-content {
  display: flex;
  gap: 20px;
}

.schedule {
  /* width: 100%; */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: inset -3px 0 5px -3px rgba(0, 0, 0, 0.1);
  height: 100%;/* 665px; */
  /* Fixed height */
  /* max-height: 665px; */
  /* Ensure it doesn't exceed this height */
  overflow-y: auto;
  /* Make it scrollable if content overflows */
}

.schedule h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #1f8a70;
}

.schedule-item {
  padding: 15px;
  margin-bottom: 9px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

.schedule-item.free {
  background-color: #e0f8e6;
  color: #1f8a70;
}

.schedule-item.over {
  background-color: #eaeaea;
  color: #000000;
}

.room-item {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #e3f2fd; /* Light blue background */
  color: #1976d2; /* Blue text color */
  cursor: pointer; /* Change cursor to indicate clickability */
}

.room-item:hover {
  background-color: #1976d2; /* Slightly darker blue background on hover */
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect on hover */
}

.room-item:active {
  background-color: #1976d2; /* Darker blue for active state */
  color: #ffffff;
}
.room-item-disabled {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5; /* Light gray background to indicate disabled state */
  color: #bdbdbd; /* Gray text color to indicate disabled state */
  cursor: not-allowed; /* Change cursor to indicate non-clickable */
  pointer-events: none; /* Prevent any interaction */
  opacity: 0.6; /* Reduce opacity to reinforce disabled look */
}


.schedule-item.booked {
  background-color: #ffe6e6;
  color: #d93025;
}

.booking-form,
.schedule {
  box-sizing: border-box;
  width: 100%;
  padding-right: 25px;
}

.booking-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  color: #555;
  font-weight: bold;
}

.downLabel {
  padding-top: 10px;
}

.booking-form input[type="text"],
.booking-form input[type="date"],
.booking-form input[type="time"],
.booking-form input[type="number"],
.booking-form textarea {
  width: calc(100% - 20px);
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  color: #555;
  transition: border-color 0.3s ease;
}

.booking-form input:focus,
.booking-form textarea:focus {
  border-color: #409eff;
}

.booking-form textarea {
  height: 100px;
  resize: none;
}

.booking-form .time-inputs {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* .booking-form button[type="submit"],
.booking-form button[type="button"] {
  background-color: #409eff;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 15px;
} */

/* .booking-form button[type="button"] {
  background-color: #f56c6c;
} */

/* .booking-form button[type="submit"]:hover,
.booking-form button[type="button"]:hover {
  opacity: 0.85;
} */

@media screen and (max-width: 768px) {
  .page-content {
    flex-direction: column;
  }

  .schedule,
  .booking-form {
    width: 100%;
  }
}

/* .css-1lluaxm-MuiList-root-MuiMultiSectionDigitalClockSection-root{
  width: 75px !important;
}
.css-8ge7h6-MuiList-root-MuiMultiSectionDigitalClockSection-root{
  width: 75px !important;
} */

@media (pointer: fine) {
  .css-1lluaxm-MuiList-root-MuiMultiSectionDigitalClockSection-root:hover {
    scrollbar-width: none;
  }
}

@media (pointer: fine) {
  .css-8ge7h6-MuiList-root-MuiMultiSectionDigitalClockSection-root:hover {
    scrollbar-width: none;
  }
}